{% extends "base.html" %} 
{% block title %}Login{% endblock %}



{% block content %} 
<h1>This is login page</h1>

<form method="POST">
    <h3 align="center"> Login</h3>
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>

    </div>
   

    <div class="form-group">
        <label for="pass">Password</label>
        <input type="pass" class="form-control" id="pass" name="pass" placeholder="Enter Password"/>
        
    </div>
    
<br/>
<button type="Login" class="btn btn-primary">Login</button>
</form>
{% endblock %}